body {
    background-color: white !important;
    scroll-behavior: smooth;
    font-family: "Merriweather Sans", sans-serif;
}

header {
    position: relative;
    max-width: 100%;
    min-height: 35vh;
    background-color: #152c53;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

.active-page {
    border-bottom: 3px solid #ffc600;
}

.active-page::after {
    content: "";
    display: none;
}

.main {
    text-align: center;
    color: white;
    padding: 70px;
}

.top {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.support_contact {
    background-color: #94a5c3;
    position: relative;
}

.support_contact .contact_box {
    transition: 2s;
}

.support_contact form {
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    z-index: 4;
}

.support_contact form input {
    width: 60%;
    padding: 20px 30px;
    border-radius: 35px;
    border: none;
}

.support_contact form .input_icon {
    position: absolute;
    right: 22%;
}

.support_contact .icon {
    padding: 30px 40px;
    background-color: white;
    border-radius: 20px;
    font-size: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px 2px rgb(138, 138, 138);
    margin-bottom: 10px;
    transition: 1s;
}


.support_contact p {
    line-height: 1.7;
    color: #d8e4fa;
    transition: 0.5s;
    cursor: pointer;
}

.support_contact p:hover {
    opacity: 0.8;
}

.scale {
    scale: 0;
}

.common_questions-box {
    transition: 2s;
}

.common_questions-box h2.active {
    border: 1px solid rgb(0, 106, 255);
    color: rgb(0, 106, 255);
}

h2.active i {
    color: #ffc600 !important;
    transform: rotateX(180deg);
}

p.active {
    height: 100px !important;
    max-height: 500px !important;
    padding: 12px !important;
    opacity: 1 !important;
}

@media (max-width: 700px){
p.active {
        height: 200px !important;
        overflow-y: auto !important;
}
}  

.common_questions-box h2 {
    position: relative;
    border: 1px solid rgb(200, 200, 200);
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
}

.common_questions-box h2:hover {
    border-color: black;
}

.common_questions-box h2 i {
    position: absolute;
    transition: 0.5s;
    right: 20px;
    color: #aeaeae;
    font-size: 30px;
}

.common_questions-box p {
    height: 0;
    opacity: 0;
    padding: 0px 12px;
    transition: 0.5s;
    overflow: hidden;
    color: grey;
}

.contact_form input ,.contact_form select, .contact_form textarea  {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

.contact_form button {
    padding: 10px 30px;
    background-color: #175bd1;
    border:none;
    color: white;
    border-radius: 20px;
}